<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>
    <iframe class="calendar"
        src="https://calendar.google.com/calendar/embed?height=418&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FDublin&showTabs=0&showTz=0&showNav=1&showPrint=0&title=Group%20Absence&src=Nzl2OGRnNmM4b3ZjN3VsdGlmajM1YjhoMW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23EF6C00"
        style="border:solid 1px #777" width="715" height="418" frameborder="0" scrolling="no"></iframe>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>