<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>
    <iframe class="calendar" id="calendar" title="Group Absence"
        src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FDublin&hl=en_GB&title=Group%20Absence&showPrint=0&showTabs=0&showCalendars=0&showTz=1&src=Nzl2OGRnNmM4b3ZjN3VsdGlmajM1YjhoMW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4uaXJpc2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4&color=%23E67C73"
        style="border:solid 1px #777" width="715" height="561"></iframe>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 33
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();

        // Refresh calendar(iframe) every 20 seconds
        // Source: Vikas Sardana's answer on Stack Overflow(https://stackoverflow.com/questions/43661695)
        window.setInterval('reloadIFrame()', 20000);

        function reloadIFrame() {
            let iframe = document.getElementById('calendar');
            iframe.src =
                'https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FDublin&hl=en_GB&title=Group%20Absence&showPrint=0&showTabs=0&showCalendars=0&showTz=1&src=Nzl2OGRnNmM4b3ZjN3VsdGlmajM1YjhoMW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4uaXJpc2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4&color=%23E67C73'
        }
    </script>
</body>